*.Po
Makefile
Makefile.in
.fastboot
.killscript
/autom4te.cache
/build
/lib/log
/lib/players
/lib/text/dyn/text_backup
/lib/world/mob/olc
/lib/world/obj/olc
/lib/world/wld/olc
/lib/world/zon/olc
/lib/world/zon/olc
/log
TAGS
aclocal.m4
bin/.dirstamp
bin/circle
config.h.in
configure
depcomp
errors
install-sh
lib/etc/quest.xml
lib/gmon.out
missing
pause
syslog
