*.Po
/lib/players
Makefile*
/build
/log
/lib/log
/autom4te.cache
bin/circle
.fastboot
.killscript
aclocal.m4
bin/.dirstamp
config.h.in
configure
depcomp
errors
install-sh
lib/etc/quest.xml
lib/gmon.out
/lib/world/zon/olc
missing
pause
syslog
TAGS